@media(prefers-color-scheme: light) {
  body {
    background-color: lightgray;
    color: darkslategrey;
  }

  a {
    color: darkslateblue;
  }
}

@media(prefers-color-scheme: dark) {
  body {
    color: lightgray;
    background-color: darkslategrey;
  }

  a {
    color: lightblue;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html {
  height: 100%;
  width: 100%;
  display: grid;
}

body {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 1fr auto;
}

#content {
  top: 12pt;
  left: 12pt;
}

#footer {
  font-size: 200%;
  display: grid;
  top: 50pt;
  margin-left: 30pt;
  margin-right: 30pt;
  margin-bottom: 5pt;
  grid-template-columns: 50% 50%;
}

#imprint {
  text-align: left;
  /* background-color: red; */
}

#date {
  text-align: right;
  /* background-color: green; */
}